.Iam {
  padding: 0.5em 0.5em;
  font: normal 40px/50px Montserrat, sans-serif;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
  font-weight: bold;
  color: #FFFFFF;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  display: inline-block;
  text-align: left;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;

/*animation*/
-webkit-animation:move 5s;
   -moz-animation:move 5s;
    -ms-animation:move 5s;
     -o-animation:move 5s;
        animation:move 5s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;

}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@media screen and (max-width: 600px) {
  div.Iam {
    font-size: 30px;
  }
}
@media screen and (max-width: 390px) {
  div.Iam {
    font-size: 25px;
  }
}
@media screen and (max-width: 350px) {
  div.Iam {
    font-size: 20px;
  }
}
@media screen and (max-width: 270px) {
  div.Iam {
    font-size: 15px;
  }
}
@media screen and (max-width: 200px) {
  div.Iam {
    display: none;
  }
}
